<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--properties（属性）-->
    <!--settings（设置）-->
    <!--typeAliases（类型别名）-->
    <!--typeHandlers（类型处理器）-->
    <!--objectFactory（对象工厂）-->
    <!--plugins（插件）-->
    <!--environments（环境配置）-->
    <!--environment（环境变量）-->
    <!--transactionManager（事务管理器）-->
    <!--dataSource（数据源）-->
    <!--databaseIdProvider（数据库厂商标识）-->
    <!--mappers（映射器）-->

    <!--第一优先级-->
    <properties>
        <property name="jdbc.driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf-8"/>
        <property name="jdbc.username" value="root"/>
        <property name="jdbc.password" value="root"/>
    </properties>

    <!--第二优先级-->
    <!--<properties resource="jdbc.properties"/>-->

    <!--编程式加载外部化配置文件-->

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--MyBatis 的别名是不区分大小写的-->
    <typeAliases>
        <package name="com.lal.entity"/>
    </typeAliases>

    <objectFactory type="com.lal.factory.ExtendsObjectFactory"/>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/department.xml"/>
        <mapper resource="mapper/user.xml"/>
    </mappers>

</configuration>